<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello ejs</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi ut modi praesentium omnis dolores assumenda accusantium fugiat nostrum mollitia, non aperiam! Animi natus reprehenderit nihil, recusandae ipsum placeat eligendi dolore.</p>
    <input type="text" value="<% if ('React') { %>
        ${<p>hello</p>}
    <% } %>" >
</body>
</html>